#page >div >main >md-content {
    width: @content-width;
    border-radius: 1em;
    background-color: @light-yellow;
    color: @blue;
    height: @content-width;
    padding: @content-padding;
    p {
        margin: 0;
    }
    .about, .skills {
        width: 50%;
        display: inline-block;
        float: left;
        .clearfix();
    }
}

body.front main article {
    padding: 0 0.5em;
    img {
        max-width: 100%;
    }
}
