main(layout="row")
    article(flex)
        img(src="/media/image.png")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ornare blandit. Mauris at varius mi. Nunc lacinia faucibus sem et posuere. Quisque consectetur at mi eget euismod. Curabitur porttitor ligula eget urna vulputate, nec sagittis nibh ullamcorper. Quisque at tortor eu elit finibus mollis eget convallis erat. Phasellus mattis velit non tellus feugiat, a bibendum eros cursus. Fusce ut aliquam quam. Aliquam at arcu velit. Donec tempus arcu vitae pellentesque tincidunt. Nunc sodales aliquam tellus in porttitor. Phasellus ut ornare lectus, eget eleifend augue. Integer non purus lectus. Pellentesque non elit in odio vulputate pharetra a id dui. Donec mattis sollicitudin euismod. Morbi aliquam velit nec lectus dapibus, in lobortis turpis consequat.
    article(flex)
        img(src="/media/image.png")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ornare blandit. Mauris at varius mi. Nunc lacinia faucibus sem et posuere. Quisque consectetur at mi eget euismod. Curabitur porttitor ligula eget urna vulputate, nec sagittis nibh ullamcorper. Quisque at tortor eu elit finibus mollis eget convallis erat. Phasellus mattis velit non tellus feugiat, a bibendum eros cursus. Fusce ut aliquam quam. Aliquam at arcu velit. Donec tempus arcu vitae pellentesque tincidunt. Nunc sodales aliquam tellus in porttitor. Phasellus ut ornare lectus, eget eleifend augue. Integer non purus lectus. Pellentesque non elit in odio vulputate pharetra a id dui. Donec mattis sollicitudin euismod. Morbi aliquam velit nec lectus dapibus, in lobortis turpis consequat.
    article(flex)
        img(src="/media/image.png")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ornare blandit. Mauris at varius mi. Nunc lacinia faucibus sem et posuere. Quisque consectetur at mi eget euismod. Curabitur porttitor ligula eget urna vulputate, nec sagittis nibh ullamcorper. Quisque at tortor eu elit finibus mollis eget convallis erat. Phasellus mattis velit non tellus feugiat, a bibendum eros cursus. Fusce ut aliquam quam. Aliquam at arcu velit. Donec tempus arcu vitae pellentesque tincidunt. Nunc sodales aliquam tellus in porttitor. Phasellus ut ornare lectus, eget eleifend augue. Integer non purus lectus. Pellentesque non elit in odio vulputate pharetra a id dui. Donec mattis sollicitudin euismod. Morbi aliquam velit nec lectus dapibus, in lobortis turpis consequat.
