div(layout="row")
    header(layout="column")
        main-menu

    main(layout="column")
        md-content(layout="column", ui-view="content", md-whiteframe="4")
    
footer(layout="row", layout-align="center center")
    site-footer
