*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: @yellow;
    max-height: 100vh;
    overflow: hidden;
    #page {
        md-backdrop.md-opaque {
            opacity: 0.8;
        }
        >div {
            height: calc(100vh ~'-' 50px);
            >main {
                width: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
