/**
 * Colors
 */
@black: #000;
@white: #FFF;
@grey: #DDDDDD;
@light-grey: #F4F4F4;

/**
 * shades of blue
 */
@light-blue: #B7DDF4;
@blue: #2A4D9C;
@dark-blue: #007ab1;

/**
 * shades of yellow
 */
@light-yellow: #fafad2;
@yellow: #fff6ac;
@dark-yellow: #FFEB41;
