.screen-sm(@rules) {
    @media screen and (min-width: @screen-sm) {
        @rules();
    }
}
.screen-md(@rules) {
    @media screen and (min-width: @screen-md) {
        @rules();
    }
}
.screen-lg(@rules) {
    @media screen and (min-width: @screen-lg) {
        @rules();
    }
}

//Media queries with a max range
.screen-sm-range(@rules) {
    @media screen and (min-width: @screen-sm) and (max-width: @screen-md - 1px){
        @rules();
    }
}
.screen-md-range(@rules) {
    @media screen and (min-width: @screen-md) and (max-width: @screen-lg - 1px){
        @rules();
    }
}

.transform(@a) {
    -webkit-transform: @a;
    -moz-transform: @a;
    -ms-transform: @a;
    -o-transform: @a;
    transform: @a;
}

.transition(@a) {
    -webkit-transition: @a;
    -moz-transition: @a;
    -o-transition: @a;
    transition: @a;
}

.border-radius(@radius) {
    // rounded corners mixin
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.rotate(@deg){
    transform:rotate(@deg);
    -ms-transform:rotate(@deg);
    -webkit-transform:rotate(@deg);
    -moz-transform:rotate(@deg);
    -o-transform:rotate(@deg);
}

.placeholder(@c){
    *::-webkit-input-placeholder {
        color:    @c;
    }
    *:-moz-placeholder {
        color:    @c;
        opacity:  1;
    }
    *::-moz-placeholder {
        color:    @c;
        opacity:  1;
    }
    *::-ms-input-placeholder {
        color:    @c;
    }
}

.gradient(@startColor: #eee, @endColor: white) {
    background-color: @endColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}
.clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
