html {
    color: @light-blue;
    font-family: @default-font;
}

/**
 * Headers
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: @blue;
}
h1, .h1, {
}
h2, .h2 {
    font-weight:normal;
}

h3 {
    font-weight:normal;
}

p, .p {
}

a, .a {
    color: @light-blue;
    font-weight: bold;
    .transition(@fast-transition);
    &:hover {
        color: @white;
    }
}
